{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <div class="row">
        <h1>Produtos</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="row">#</th>
                    <th scope="row">Nome</th>
                    <th scope="row">Preço</th>
                    <th scope="row">Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{ produto.id }}</td>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.preco|intcomma }}</td>
                    <td scope="row">
                        <a class="btn btn-warning" href="#">Editar</a>
                        <a class="btn btn-danger"href="#">Deletar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}